<div class="page-header">
  <%= link_to new_home_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Home
  <% end %>
  <h1>| Tiny Estates |</h1>
</div>

<%- @homes.each do |home| %>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="<%= home.image_url %>" height="110" width="110">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= home.description %></h4>

          <div class="btn-group pull-right" role="group">
            <%= link_to home do %>
              <button type="button" class="btn-group btn-default btn-xs">View <span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
            <% end %>
            <%= link_to edit_home_path(home) do %>
              <button type="button" class="btn-group btn-default btn-xs">Edit</button>
            <% end %>
            <%= link_to home, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <button type="button" class="btn-group btn-default btn-xs">Delete <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <% end %>
          </div>

          <h5><%= home.city %>, <%= home.state %>  <%= home.zip %></h5>
          <h5>| <%= home.bedrooms %> Beds |  | <%= home.baths %> Baths |</h5>

          <ul>
            <li>Price: $ <%= home.price %></li>
          </ul>
          <ul>
           <li>posted <%= ((Time.now - home.created_at)/(60*60*24)).to_i %> days ago.</li>
          </ul>

        </div>
      </div>
    </li>
  </ul>
<% end %>
